{% extends "mail/layout.html" %}

{% block body %}

    <h2 class="title-inside">Login</h2>

    {% if message %}
        <div class="Message_error">{{ message }}</div>
    {% endif %}

    <form action="{% url 'mail:login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

   <footer>Don't have an account? <a href="{% url 'mail:register' %}">Register here.</a></footer>

{% endblock %}